 <% if comment.user == current_user%>
          <td><%= link_to 'Edit', edit_comment_path(commentt) %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>